html {
    overflow-x: hidden;
}

body {
    font-family: "Raleway", sans-serif;
    line-height: 1.8;
    font-size: 16px;
    background: #fff;
    color: #859196;
}

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    color: #4586FF;
}

a:hover {
    text-decoration: none;
    color: #4586FF;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
    line-height: 1.45;
    font-weight: normal;
    color: #000;
}

.text-primary {
    color: #4586FF !important;
}

.ftco-navbar-light {
    background: transparent !important;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 3;
}

@media screen and (max-width: 991px) {
    .ftco-navbar-light {
        /* background: #000 !important; /* OLD COLOR */
        background: #b1d4e0 !important;
        /* NEW COLOR */
        top: 0;
        position: relative;
    }
}

.ftco-navbar-light .navbar-nav>.nav-item>.nav-link {
    font-size: 16px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

@media screen and (max-width: 960px) {
    .ftco-navbar-light .navbar-nav>.nav-item>.nav-link {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 0px;
        padding-right: 0px;
    }
}

.ftco-navbar-light .navbar-nav>.nav-item.ftco-cta a {
    color: #fff;
}

.ftco-navbar-light .navbar-nav>.nav-item.ftco-seperator {
    position: relative;
    margin-left: 20px;
    padding-left: 20px;
}

@media screen and (max-width: 960px) {
    .ftco-navbar-light .navbar-nav>.nav-item.ftco-seperator {
        padding-left: 0;
        margin-left: 0;
    }
}

.ftco-navbar-light .navbar-nav>.nav-item.ftco-seperator:before {
    position: absolute;
    content: "";
    top: 10px;
    bottom: 10px;
    left: 0;
    width: 2px;
    background: rgba(255, 255, 255, 0.05);
}

@media screen and (max-width: 960px) {
    .ftco-navbar-light .navbar-nav>.nav-item.ftco-seperator:before {
        display: none;
    }
}

.ftco-navbar-light .navbar-toggler {
    border: none;
    color: rgba(255, 255, 255, 0.5) !important;
    /* OLD COLOR */
    /* color: rgb(0, 153, 0) !important; /* NEW COLOR */
    cursor: pointer;
    padding-right: 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: .1em;
}

.ftco-navbar-light.scrolled {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    margin-top: -130px;
    background: #fff !important;
}

@media screen and (max-width: 768px) {
    .ftco-navbar-light.scrolled .navbar-nav {
        background: none;
        border-radius: 0px;
        padding-left: 0rem !important;
        padding-right: 0rem !important;
    }
}

@media screen and (max-width: 576px) {
    .ftco-navbar-light.scrolled .navbar-nav {
        background: none;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.ftco-navbar-light.scrolled .navbar-toggler {
    border: none;
    color: rgba(0, 0, 0, 0.5) !important;
    border-color: rgba(0, 0, 0, 0.5) !important;
    cursor: pointer;
    padding-right: 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: .1em;
}

.ftco-navbar-light.scrolled .nav-link {
    padding-top: 0.7rem !important;
    padding-bottom: 0.2rem !important;
    color: #021129 !important;
}


/* Mise à jour pour la couleur des menus de la navigation bar quand on scroll */

.ftco-navbar-light.scrolled .nav-link.active {
    color: #88011e !important;
    border-bottom: 2px solid;
}


/* Pour la couleur du menu dans la navigation bar */

.navbar-dark .navbar-nav .nav-link {
    color: #021129 !important;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #88011e !important;
    /* text-decoration: underline; */
}

.ftco-navbar-light .navbar-brand {
    color: #021129 !important;
}

.text-home {
    color: #021129 !important;
}

.ftco-navbar-light.scrolled.awake {
    margin-top: 0px;
    -webkit-transition: .3s all ease-out;
    -o-transition: .3s all ease-out;
    transition: .3s all ease-out;
}

.ftco-navbar-light.scrolled.sleep {
    -webkit-transition: .3s all ease-out;
    -o-transition: .3s all ease-out;
    transition: .3s all ease-out;
}

.ftco-navbar-light.scrolled .navbar-brand {
    color: #021129;
}

.navbar-brand {
    text-transform: uppercase;
    letter-spacing: .1em;
}

.bg-image,
.ftco-cover {
    background-size: cover;
    background-repeat: no-repeat;
}

.ftco-cover {
    background-position: center center;
}

.ftco-cover .ftco-heading {
    font-size: 45px;
    line-height: 1.34;
    color: #fff;
}

@media screen and (max-width: 768px) {
    .ftco-cover .ftco-heading {
        font-size: 37px;
        line-height: 1.3;
    }
}

.ftco-cover .ftco-subheading,
.ftco-cover p {
    color: #021129;
    font-size: 12pt;
}


/* .ftco-subheading p {
    height: 100em !important;
} */

@media screen and (max-width: 768px) {
    .ftco-cover .btn {
        width: 100% !important;
        border: 1px solid red;
    }
}

.ftco-cover a {
    position: relative;
    color: #fff;
}

.ftco-cover a:before {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #4586FF;
    height: 2px;
    content: " ";
}

.ftco-cover.overlay {
    position: relative;
}

.ftco-cover.overlay:before {
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.ftco-cover .ftco-vh-100 {
    min-height: 700px !important;
}

.ftco-slant {
    position: relative;
    overflow: hidden;
}


/* Modifier la position du texte dans la section Home */

#section-home .row .col-md-10 {
    padding-top: 26em !important;
}

.ftco-slant:after {
    width: 120%;
    /* Avant height : 200px */
    height: 180px;
    left: -10%;
    background: #f2f2f2;
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
    content: "";
    position: absolute;
    /* bottom: -100px; */
    bottom: -150px;
}

@media screen and (max-width: 960px) {
    .ftco-slant:after {
        /* bottom: -150px; */
        bottom: -200px;
    }
}

@media screen and (max-width: 768px) {
    .ftco-slant:after {
        /* bottom: -170px; */
        bottom: -220px;
    }
}

.ftco-slant.ftco-slant-white:after {
    background: #fff;
}

.ftco-slant.ftco-slant-dark:after {
    background: #263135;
}

.ftco-uppercase {
    letter-spacing: .1em;
    font-size: 30px;
}

.btn {
    border-radius: 4px;
    padding: 20px 30px;
    font-size: 14px;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.btn.btn-sm {
    padding: 10px 20px;
    font-size: 12px;
}

.btn:before {
    display: none;
}

.btn:hover,
.btn:active,
.btn:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn.btn-primary {
    background: #4586FF;
    border-color: #4586FF;
    color: #fff;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active {
    border-color: #1265ff;
    background: #1265ff;
}

.btn.btn-outline-white {
    border-color: rgba(255, 255, 255, 0.2);
    background: none;
}

.btn.btn-outline-white:hover,
.btn.btn-outline-white:focus,
.btn.btn-outline-white:active {
    background: #fff;
    border-color: #fff;
    color: #000;
}

.form-control {
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 55px;
    background: none !important;
    color: #000 !important;
    font-size: 18px;
}

.form-control:focus,
.form-control:active {
    border: 1px solid #000;
}

textarea {
    height: inherit !important;
}

.ftco-vh-100 {
    height: 100vh;
}

@media screen and (max-width: 960px) {
    .ftco-vh-100 {
        height: inherit;
        padding-top: 5em;
        padding-bottom: 5em;
    }
}

.ftco-vh-75 {
    height: 75vh;
}

@media screen and (max-width: 960px) {
    .ftco-vh-75 {
        height: inherit;
        padding-top: 5em;
        padding-bottom: 5em;
    }
}

.ftco-animate {
    opacity: 0;
    visibility: hidden;
}

.bg-primary {
    background: #4586FF !important;
}

.ftco-section,
.ftco-footer {
    padding: 7em 0 7em 0;
}

.ftco-section.ftco-slant,
.ftco-footer.ftco-slant {
    padding: 7em 0 22em 0;
}

.ftco-section .ftco-heading,
.ftco-footer .ftco-heading {
    font-size: 40px;
    line-height: 1.5;
}

@media screen and (max-width: 768px) {
    .ftco-section .ftco-heading,
    .ftco-footer .ftco-heading {
        font-size: 30px;
    }
}

.ftco-section.bg-light,
.ftco-footer.bg-light {
    background: #f2f2f2 !important;
}

.ftco-bg-dark {
    background: #263135;
}

.ftco-footer {
    font-size: 16px;
}

.ftco-footer .ftco-footer-logo {
    text-transform: uppercase;
    letter-spacing: .1em;
}

.ftco-footer .ftco-footer-widget h2 {
    font-weight: normal;
}

.ftco-footer p {
    color: rgba(255, 255, 255, 0.3);
}

.ftco-footer a {
    color: rgba(255, 255, 255, 0.3);
}

.ftco-footer a:hover {
    color: #4586FF;
}

.ftco-footer .ftco-heading {
    font-size: 24px;
}

.ftco-footer .ftco-heading-2 {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: .05em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
}

.ftco-pricing-popular {
    position: relative;
}

.ftco-pricing-popular .popular-text {
    text-transform: uppercase;
    font-size: 14px;
    margin-top: -16px;
    right: 0;
    background: #4586FF;
    color: #fff;
    padding: 2px 10px;
    position: absolute;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    letter-spacing: .1em;
}

.ftco-pricing h2 {
    font-size: 17px;
    text-transform: uppercase;
}

.ftco-pricing .ftco-price-per {
    font-size: 70px;
}

.ftco-pricing .ftco-price-per sup {
    font-size: 20px;
    top: -1.5em;
}

.ftco-pricing .ftco-price-per strong {
    color: #000;
}

.ftco-pricing .ftco-price-per span {
    font-size: 20px;
}

.ftco-pricing ul li {
    margin-bottom: 10px;
}

.ftco-footer-social li {
    list-style: none;
    margin: 0 10px 10px 0;
    display: inline-block;
}

.ftco-footer-social li a {
    height: 60px;
    width: 60px;
    display: block;
    float: left;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 50%;
    position: relative;
}

.ftco-footer-social li a span {
    position: absolute;
    font-size: 26px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.ftco-footer-social li a:hover {
    color: #0066ff;
}

.footer-small-nav>li {
    display: inline-block;
}

.footer-small-nav>li a {
    margin: 0 10px 10px 0;
}

.footer-small-nav>li a:hover,
.footer-small-nav>li a:focus {
    color: #458600;
}

.media .ftco-icon {
    width: 100px;
}

.media .ftco-icon span {
    color: #458600;
}

.ftco-media {
    background: #fff;
    border-radius: 5px;
}

.ftco-media.text-center .ftco-icon {
    margin: 0 auto;
}

.my-icon {
    margin: 0 auto;
    /* margin-bottom: 1rem !important; */
}

.ftco-overflow-hidden {
    overflow: hidden;
}

.padding-top-bottom {
    padding-top: 120px;
    padding-bottom: 120px;
}

.ftco-owl {
    position: relative;
    z-index: 1;
}

.ftco-owl .owl-nav {
    position: absolute;
    top: 50%;
    margin-top: -50px;
    z-index: 10;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.ftco-owl .owl-nav .owl-prev,
.ftco-owl .owl-nav .owl-next {
    position: absolute;
    font-size: 30px;
    background: #15a4e6;
    color: #fff;
    padding: 10px;
    line-height: 0;
}

.ftco-owl .owl-nav .owl-prev {
    left: 0;
}

.ftco-owl .owl-nav .owl-next {
    right: 0;
}

.ftco-owl .owl-dots {
    position: relative;
    text-align: center;
    margin-top: 30px;
}

.ftco-owl .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
}

.ftco-owl .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    background: #ccc;
    border-radius: 50%;
    display: inline-block;
    margin: 5px 7px;
}

.ftco-owl .owl-dots .owl-dot.active span {
    background: #15a4e6;
}

.ftco-owl:hover .owl-nav {
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width: 768px) {
    #map {
        height: 400px;
    }
}

.ftco-counter .ftco-number {
    display: block;
    font-size: 72px;
    font-weight: bold;
    color: #458600;
}

.ftco-counter .ftco-label {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #b3b3b3;
}


/* Mon implementation de loader */

#rbt-loader {
    position: fixed;
    width: 96px;
    height: 96px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
    border-radius: 16px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .2s ease-out, visibility 0s linear .2s;
    -o-transition: opacity .2s ease-out, visibility 0s linear .2s;
    transition: opacity .2s ease-out, visibility 0s linear .2s;
    z-index: 1000;
}

#rbt-loader.mediumscreen {
    position: fixed !important;
    left: 40% !important;
    top: 20% !important;
    width: 30%;
    height: 30%;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    background-color: rgb(139, 137, 137);
    border-radius: 1;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#rbt-loader .text-loader {
    text-align: center;
    color: rgb(7, 7, 7) !important;
}

#rbt-loader.fullscreen {
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    background-color: rgb(139, 137, 137);
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#rbt-loader.show {
    -webkit-transition: opacity .4s ease-out, visibility 0s linear 0s;
    -o-transition: opacity .4s ease-out, visibility 0s linear 0s;
    transition: opacity .4s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 0.6;
}

#rbt-loader .circular {
    -webkit-animation: loader-rotate 2s linear infinite;
    animation: loader-rotate 2s linear infinite;
    position: absolute;
    left: calc(50% - 24px);
    top: calc(50% - 24px);
    display: block;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

#rbt-loader .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    -webkit-animation: loader-dash 1.5s ease-in-out infinite;
    animation: loader-dash 1.5s ease-in-out infinite;
    stroke-linecap: round;
}


/* End implementation */

#ftco-loader {
    position: fixed;
    width: 96px;
    height: 96px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
    border-radius: 16px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .2s ease-out, visibility 0s linear .2s;
    -o-transition: opacity .2s ease-out, visibility 0s linear .2s;
    transition: opacity .2s ease-out, visibility 0s linear .2s;
    z-index: 1000;
}

#ftco-loader.fullscreen {
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    background-color: #fff;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#ftco-loader.show {
    -webkit-transition: opacity .4s ease-out, visibility 0s linear 0s;
    -o-transition: opacity .4s ease-out, visibility 0s linear 0s;
    transition: opacity .4s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

#ftco-loader .circular {
    -webkit-animation: loader-rotate 2s linear infinite;
    animation: loader-rotate 2s linear infinite;
    position: absolute;
    left: calc(50% - 24px);
    top: calc(50% - 24px);
    display: block;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

#ftco-loader .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    -webkit-animation: loader-dash 1.5s ease-in-out infinite;
    animation: loader-dash 1.5s ease-in-out infinite;
    stroke-linecap: round;
}

@-webkit-keyframes loader-rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loader-rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes loader-dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -136px;
    }
}

@keyframes loader-dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -136px;
    }
}